.ui-table{
  margin-top: 10%;
  margin-bottom: 20px;
}
.lineGraph{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
}
.pieGraph{
  display: inline-block;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-top: 5%;
}